<div class="p-5 mb-4 bg-light rounded-3"  >
    <div class="container-fluid py-5">
      <h2 class="display-5 fw-bold">Fatura Bilgileri</h2>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fatura Türü</th>
            <th scope="col">Tutar</th>
            <th scope="col">Aidat Tarihi</th>
            <th scope="col">Ödenme durumu</th>
            <th scope="col">İşlemler</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of bills">
            <th scope="row">{{bill.id}}</th>
          
            <td >{{bill.type}}</td>
            <td >{{bill.amount |currency:"TRY":"₺":""}}</td>
            <td >{{bill.invoiceDate |date}}</td>
            <td >{{bill.status |statusToYesNo}}</td>
            <td>  <button class="ui inverted purple button" routerLink="payment/add/{{bill.id}}">Ödeme yap</button></td>
          </tr>
        </tbody>
      </table>         
    </div>
  </div>