


  
<body>
  <main>
    <div class="container-fluid"  >
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="assets/images/apsisLogoBlue.svg" alt="logo" class="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Giriş yap</h1>
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" formControlName="email" class="form-control" placeholder="email@deneme.com">
              </div>
              <div class="form-group mb-4">
                <label for="password">Şifre</label>
                <input type="password" name="password" id="password" formControlName="password" class="form-control" placeholder="şifrenizi giriniz">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn"  value="Giriş Yap" (click)="login()">
            </form>
            <p class="login-wrapper-footer-text">Henüz hesabınız yok mu? <a href="#!" class="text-reset" routerLink="/auth/register"> Buradan kayıt olun</a></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="assets/images/loginHome.jpg" alt="login image" class="login-img">
        </div>
      </div>
    </div>




  </main>
</body>
