  

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="duesdetail">Aidatlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="billdetail">Faturalar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="card">Kart İşlemleri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="messageadd">Yöneticiye mesaj bırak</a>
          </li>
        </ul>

          <li class="nav-item dropdown user-dropdown" >
            <button  class="nav-link dropdown-toggle ui inverted orange button" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="icon user"></i>
             {{currentUserName}}
            </button>
            <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
              <li *ngIf="isAuthenticated()==true" (click)="logout()"><a class="dropdown-item" >Çıkış yap</a></li>
            </ul>
          </li>

         
       
      </div>
    </div>
  </nav>

