<div class="card mb-3 mt-5">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/images/loginHome.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"> <strong> Daire Tipi : </strong> {{currentApartment?.type}}</li>
            <li class="list-group-item"><strong>Kat :</strong>  {{currentApartment?.floor}}</li>
            <li class="list-group-item"><strong>Blok :</strong>  {{currentApartment?.block}}</li>
            <li class="list-group-item"><strong>Kapı No :</strong>  {{currentApartment?.doorNumber}}</li>
            <li class="list-group-item"><strong>Daire Sahibi : </strong> {{currentApartment?.name}} {{currentApartment?.surName}}</li>
            <li class="list-group-item"><strong>İletişim :</strong>  {{currentApartment?.mail}}</li>
            <li class="list-group-item"><strong>Durumu :</strong>  {{currentApartment?.status}}</li>


          </ul>

          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
  </div>


 